@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #2d303c;
  color: white;
}

main {
  padding: 0px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learnMore {
  border-color: #7878fe;
  color: white;
  background-color: transparent;
  border: 2px solid #7878fe;
  text-wrap: wrap;
}

.learnMore:hover {
  background-color: #7878fe;
}

.title {
  color: #7878fe;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.button {
  background-color: #7878fe;
}

.card {
  width: 500px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: #7878fe;
  padding: 0px 10px;
  font-size: 0.9rem;
}

.progress {
  color: #4dc592;
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 100%;
  }

  main {
    padding: 0px 10px;
  }
}
